body{
font-family: 'Oswald', sans-serif;
}
.food-image{
background:url('../img2/grapes.jpg')center no-repeat;
height:100vh;
background-size:cover;
position:relative;
}
.food-wrapper{
color:white;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.food-wrapper h1{
font-size:2.4rem;
text-align:center;
}
.food-wrapper span{
margin-left:5rem;
display:inline-block;
margin-buttom: .5rem;
}
.form_code{
text-align:center;
}
.form_code .post_code{
display:block;
width:80%;
margin-left:auto;
margin-right:auto;
border-radius:2rem;
padding: .6rem;
border:none;
outline:none;
}
.form_code button{
width:40%
display:inline-block;
margin-left:auto;
margin-right:auto;
text-align:center;
background-color:#00FFFF;
color:white;
padding:.6rem;
border:none;
margin-top:1em;
border-radius:.3rem;
}